<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platelist</title>
</head>
<body>
    <div class="container">
        <div class="parent" style="flex-direction: column;">
            <h1>{{name}}</h1>
            <br>

        </div>
        <div class="parent">
            <form [formGroup]="newItemForm" (ngSubmit)="onSubmit()">
                <input id="item" type="text" formControlName="item">                           
            </form>
        </div>
        <div class="parent">
            <div class="card shadow" *ngFor="let item of itemList">
                <h5 class="card-title"><a class="special-links" href="https://www.swiggy.com/search?query={{item}}">{{item}}</a></h5>
                
            </div>
        </div>

        <div class="parent bottom" style="flex-direction: column;">
            <p>Made By <a href="https://twitter.com/sarvesh_is_wow">Sarvesh Kedia</a></p>
        </div>
    </div>

</body>
</html>

