<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smash Or Pass</title>
</head>
<body>
    <div class="container">
        <div class="parent" style="flex-direction: column;">
            <h1>Platelist</h1>

        </div>
        <div class="parent">
            <div class="card shadow" *ngFor="let category of categories">
                <h5 class="card-title">{{category.name}}</h5>
            </div>
        </div>
    </div>

</body>
</html>

